<div class="wrapper">
  <h1>BLUST</h1>
  <h2>by stmn</h2>
  <audio src="" id="hidden-player"></audio>
  <div id="player">
    <img src="" class="coverr" alt="" height="200" width="200" />
    <div class="player-song">
      <div class="title"></div>
      <div class="artist"></div>
      <progress value="0" max="1"></progress>
      <div class="timestamps">
        <div class="time-now">0:00:00</div>
        <div class="time-finish">0:00:00</div>
      </div>
      <div class="actions">
        <div class="prev">
          <i class="material-icons">fast_rewind</i>
        </div>
        <div class="play">
          <a class="play-button paused" href="#">
            <div class="left"></div>
            <div class="right"></div>
            <div class="triangle-1"></div>
            <div class="triangle-2"></div>
          </a>
        </div>
        <div class="next">
          <i class="material-icons">fast_forward</i>
        </div>
      </div>
    </div>
  </div>

  <div id="search">
    <div class="row">
      <%= form_tag root_path, method: 'get', class: "form-inline" do %>
        <div class="form-inline">
          <div class="form-group">
            <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "キーワード", size: 35 %>
          </div>

          <div class="form-group">

          </div>

          <button type="submit" class="button">検索</button>
        </div>
      <% end %>

      <% if @results.present? %>
        <div class="results">
          <ul class="list-group">
            <% @results.each do |result| %>
              <li class="list-group-item"><%= result %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>